%h1 Dashboard

%p= "Guest count: #{Guest.count}"
%p= "Essential guest count: #{Guest.essential.count}"
%p= "Guest without invitation count: #{Guest.without_invitation.count}"
%p= "Chá bar guest count: #{Guest.tea_party.count}"


  
