- title "Guests"
- form_tag edit_multiple_guests_path do
  %table#guests
    %tr
      %th
      %th Name
      %th Category
      %th Essential
    - for guest in @guests
      %tr
        %td= check_box_tag "guest_ids[]", guest.id
        %td= h guest.name
        %td= h guest.category
        %td= h guest.essential
        %td= link_to 'Show', guest
        %td= link_to 'Edit', edit_guest_path(guest)
        %td= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete
  = submit_tag "Edit Checked" 
%p= link_to "New Guest", new_guest_path
