- title "Categories"

%table#categories
  %tr
    %th Name
    %th Count
  - for category in @categories
    %tr
      %td= h category.name
      %td= h category.guests.count
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Category", new_category_path